<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.program.dao.plusDao">
    <select id="selectById"  resultType="java.lang.Integer">
        insert into `su_info` (tc_id,su_no,su_name,tc_name,su_credit,se_begin,se_end,ma_begin,ma_end)
        values (#{tc_id},#{su_no},#{su_name},#{tc_name},#{su_credit},#{se_begin},#{se_end},#{ma_begin},#{ma_end})
    </select>
</mapper>