<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.program.dao.su_scoDao">
    <select id="selectById" parameterType="Integer" resultType="su_score">
        select * from `su_score` where su_no=#{su_no}
    </select>
</mapper>